            .Alive {color:rgb(94, 255, 0)}
            .Dead {color: rgb(116, 0, 0);}
            h1 {
                color: aliceblue;
                text-shadow: 0px 0px 25px aliceblue;
                text-align: center;
                font-size: 50px;
                border: 10px solid rgb(255, 255, 255);
                border-style: dashed;
                box-shadow: 0px 0px 100px;
                margin-left: 50px;
                margin-right: 50px;
            }
            .h21 {
                word-wrap: break-word;
                max-width: 1000px;
                margin-top: -200px;
                text-shadow: none;
            }
            .h20 {
                text-align: center;
                line-height: 0%;
                font-size: 40px;
                text-decoration: underline;
                text-shadow: none;
            }
            .h2miss {
                padding-left: 90px;
                text-shadow: none;
                color: aliceblue;
            }
            .Pic {
                border: 5px dotted black;
                border-radius: 15px;
                transition: transform 0.3s ease;
                display: block;
                animation: name duration timing-function delay iteration-count direction fill-mode;
            }
            .Pic:hover {
                transform: scale(1.1);
            }
            body {
                background-color: rgb(44, 44, 44);
                font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
                transition: backgrpund-color 0.3s ease;
            }
            .AllBack {
                color: aliceblue;
                text-shadow: 0px 0px 25px aliceblue;
                border: 5px solid rgb(255, 255, 255);
                border-style: dashed;
                box-shadow: inset 0px 0px 10px;
                margin-left: 50px;
                margin-right: 50px;
                animation: glowPulse 3s ease-in-out infinite;
            }
            @keyframes glowPulse {
                0% {box-shadow: inset 0px 0px 5px;}
                50% {box-shadow: inset 0px 0px 10px;}
                100% {box-shadow: inset 0px 0px 5px;}
            }
            /* Виктор *//* Виктор *//* Виктор *//* Виктор *//* Виктор */
            /* Валера *//* Валера *//* Валера *//* Валера *//* Валера */
            .Card {
                display: flex;
                flex-direction: column;
                align-items: center;
                width: 200px;
            }
            .Line-Card {
                display: flex;
                align-items: center;
                gap: 20px;
            }
            a {
                display: block;
                padding: 0;
                margin: 0;
                flex-shrink: 0;
                line-height: 0;
            }
            .Begin0 {
                display: flex;
                gap: 100px;
                padding-left: 100px;
            }
            