            body {
                background-color: rgb(44, 44, 44);
                font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
                transition: backgrpund-color 0.3s ease;
            }
            h2 {
                color: beige;
            }